body{
    background-color: rgb(29, 82, 64);
}

/*aplica estilo en el id*/
#menusec{
    background-color: beige;
}

#menusec1{
    background-color: rgb(194, 173, 141);
}

#idsection{
    background-color: aquamarine;
}

.letra1{
    color: rgb(197, 37, 136);
}